<nav id="primary-navbar">
    <ul>
        <li>
            <a href="/index.html">
                <picture>
                    <img src="/favicon.png" class="logo" alt="logo">
                </picture>
            </a>
        </li>
        <li><a href="/index.html#shop">Shop</a></li>
        <li><a href="/index.html#services">Services</a></li>
        <li><a href="/index.html#guides">Guides</a></li>
        <li><a href="/index.html#about">About</a></li>
        <li><a href="/index.html#contact">Contact</a></li>
    </ul>
</nav>
